{% include header.html, title: "Bauzer - Auction"  %}
        <!-- iFrame content Gregg -->
        <div class="container">
            <div class="row heading h-100  justify-content-center align-items-center">
                Bulk buying to achieve better pricing is a proven commercial practice.
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="container">
            <div class="row main">
                <article class="col-lg-9">
                    <section class="platform">
                    <div class="card-header">Coming soon to our platform</div>
                    <h1>Introducing the Bauzer Contract Purchase</h1>
                    <p class="clearfix"></p>
                    <div class="row">
                    <div class="col-md-6"><h3>Background</h3>
                        <p>The fuel wholesale business has  changed <strong>significantly</strong> over the last  10 years. Several new <strong>independent  importers</strong> began to compete with <strong>oil  majors</strong>, who had a monopoly on <strong>wholesale  trading</strong>. Discounted products are now regularly <strong>available</strong> in the market, in addition to <strong>standard</strong> <strong>wholesale pricing</strong>.  These originate from <strong>price increases</strong> or to <strong>make room</strong> in storage tanks for  delivery of imported product. </p>
                    </div>
                    <div class="col-md-6">
                        <h3>The Bauzer Contract Purchase</h3>
                        <p>The<strong> Bauzer Contract Purchase</strong> will allow you to <strong>take advantage</strong> of additional discounts in the market. Through a <strong>bidding process</strong>, Bauzer offers  suppliers the <strong>opportunity</strong> to bid on the  customer's volume. Customer volumes are <strong>packaged</strong> in bid parcels of <strong>500&nbsp;000 to 1,000,000</strong> litres to make it <strong>worthwhile</strong> for  suppliers. Customers can place a <strong>reserve  price</strong> on a contract and are obliged to buy <strong>at least 85%</strong> of the contract volume from the <strong>winning</strong> supplier. </p>
</div>
                    </div>
                        </section>
                    <p class="clearfix"></p>
                    <blockquote>
                        <h3>Significant Savings</h3>
                        <strong>Bulk  buying</strong> to achieve <strong>better pricing</strong> is a proven commercial practice, which we believe  will generate further <strong>significant  savings</strong> for our customers.
                    </blockquote>


                </article>
                <aside class="col-lg-3">
                   {% include aside.html %}
                </aside>
            </div>
        </div>
{% include page-footer.html %}
