{% include header.html, title: "Bauzer - Benefits"  %}
        <!-- iFrame content Gregg -->
        <div class="container">
            <div class="row heading h-100  justify-content-center align-items-center">
                Easy, low cost transacting to maximise the benefit of your fuel spend.
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="container">
            <div class="row main">
                <article class="col-lg-9">
                    <h1>Welcome to the future of fuel trading </h1>
                    <p>Bauzer is an&nbsp;<strong>electronic marketplace</strong>&nbsp;which  brings <strong>buyers</strong> and <strong>sellers</strong> of <strong>petroleum</strong> products together to trade in a <strong>safe</strong> and<strong> efficient </strong>manner.&nbsp;<br>
                        <br>
                        Through the platform, <strong>sellers</strong> can offer <strong>their product</strong> to potential  customers <strong>nationwide</strong>. <strong>Buyers</strong> in turn can instantly <strong>access </strong>information  on the most&nbsp;<strong>competitively-priced </strong>product&nbsp;at all <strong>available  locations</strong> across the country. </p>
                    <p>By allowing <strong>both  parties</strong> access to a&nbsp;<strong>secure </strong>trading environment, risk is eliminated, <strong>costs</strong> are minimised, and the best possible <strong>trading outcomes</strong> are achieved. </p>
<section class="platform">

                    <p class="clearfix"></p>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Benefits for buyers</h2>
                            <p>As a buyer of petroleum products, Bauzer will give  you <strong>real-time access</strong> to information  on all&nbsp;<strong>product availability</strong>&nbsp;in the market, specific to: </p>
                            <ul type="disc">
                                <li>Product <strong>grade</strong>, i.e., diesel 50ppm, diesel       500ppm;</li>
                                <li>Area of <strong>availability</strong>, i.e., Durban,       Alberton, Cape Town;</li>
                                <li><strong>Best prices</strong> at the various locations.</li>
                            </ul>
                            <p><strong>Further benefits include:</strong></p>
                        </div>
                    <div class="col-md-6">
                        <ul type="disc">
                            <li>Contract bidding for better <strong>bulk discounts.</strong></li>
                            <li><strong>Customer</strong> <strong>app</strong> to manage purchases and orders <strong>on the fly.</strong></li>
                            <li>Elimination of <strong>middlemen sales agents</strong>, each taking a share margin.</li>
                            <li>Preference on purchases in <strong>limited volume</strong> <strong>deals</strong> for regular and sizeable clients.</li>
                            <li><strong>Easy, low cost </strong>transacting to <strong>maximise</strong> the benefit of your fuel spend. </li>
                        </ul>

                    </div>
                    <div class="col-md-6">

                        <ul type="disc">
                            <li>Our <strong>B-BBEE Level 2</strong> status gives you <strong>recognition</strong> on all your fuel purchases. </li>
                            <li>An <strong>open line of sight</strong> on all transaction processes through the <strong>buyer dashboard</strong>. </li>
                            <li><strong>Easy-to-use</strong> interface keeps you <strong>up to date.</strong></li>
                            <li><strong>Manage</strong> all your transactions on a <strong>real-time</strong> basis.                    </li>
                        </ul>
                    </div>
                        <div class="col-md-12"><strong>Transport
                            </strong><br>
                            Should you require the product to be <strong>delivered</strong> to you, we will arrange it. Our<strong> approved transporters&nbsp;</strong>will ensure safe and efficient delivery. </div>
                    </div>
                    </section>
                    <p class="clearfix"></p>
                    <div class="row">
                    <div class=col-md-12>
                        <h2>Benefits for suppliers</h2>
                        <p>Bauzer not only gives you <strong>direct</strong>, <strong>real-time</strong> access  to an&nbsp;<strong>extensive buyer base</strong>&nbsp;throughout the country, but also: </p>
</div>
                    <div class=col-md-6>
                        <ul type="disc">
                            <li>A channel to take your       petroleum product to market <strong>quickly</strong> and <strong>cost-effectively.</strong></li>
                            <li>100% assurance and <strong>guarantee</strong> of payment.</li>
                            <li>Access to current <strong>product offers</strong> in the market in <strong>real-time.</strong></li>
                            <li>A way to sell <strong>excess stock</strong> quickly and at <strong>lowest cost.</strong></li>
                        </ul>
                    </div>
                    <div class=col-md-6>
                        <ul type="disc">
                            <li>A <strong>single buyer</strong> transaction administration. </li>
                            <li>A <strong>B2B</strong> transaction processing option to minimise <strong>sales administration.</strong></li>
                            <li>Secure, <strong>bigger</strong> volume sales through our <strong>bidding</strong> (auction) opportunity.</li>
                        </ul>
                    </div>
                    </div>

                </article>
                <aside class="col-lg-3">
                   {% include aside.html %}
                </aside>
            </div>
        </div>
{% include page-footer.html %}