{% include header.html, title: "Bauzer - Company"  %}
        <!-- iFrame content Gregg -->
        <div class="container">
            <div class="row heading h-100  justify-content-center align-items-center">
                Bauzer has a B-BEEE Level 2 rating
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="container">
            <div class="row main">
                <article class="col-lg-9">
                    <h1>The Company</h1>

<h3>Quick facts</h3>
                    <ul>
                        <li>Bauzer  was established in 2016</li>
                        <li>Bauzer  is a subsidiary company of Renati Group (Pty) Ltd</li>
                        <li>Shareholders:  Zivuse Trust – 51%; Renati Group Pty Ltd – 49%</li>
                        <li>Directors:  Mr JS Ferreira and Mr Makgoba</li>
                        <li>Bankers:  ABSA, Standard Bank, FNB</li>
                        <li>Auditor:  Britz-Coetzee Registered Auditors CA (SA)</li>
                        <li>B-BEEE:  Level 2</li>
                    </ul>
                            <div class="col-md-12 company">



                                        <h3>Management</h3>
                                   <strong>General  Manager:</strong> Mr Greg Salzwedel<br>
                                            <strong>Operations:</strong>  Angela Ferreira<br>
                                            <strong>Finance:</strong> John-Stephen Ferreira<br>
                                        <strong>Logistics:</strong> Mario Turketti<br>
                                        <br>
<p class="clearfix"></p>
                    </div>

                            <p class="clearfix"></p>


                </article>
                <aside class="col-lg-3">
                   {% include aside.html %}
                </aside>
            </div>
        </div>
{% include page-footer.html %}