{% include header.html, title: "Bauzer - FAQ"  %}
        <!-- iFrame content Gregg -->
        <div class="container">
            <div class="row heading h-100  justify-content-center align-items-center">
                Customers are assured of the best available price in the market.
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="container">
            <div class="row main">
                <article class="col-lg-9">
                    <section>
                    <h1>Frequently asked questions</h1>
                    <p class="clearfix"></p>

                        <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="accordion">

{% include faqs.html %}


</div>
        </div>
    </div>
</div>






                        </section>
                    <p class="clearfix"></p>
                </article>
                <aside class="col-lg-3">
                   {% include aside.html %}
                </aside>
            </div>
        </div>
{% include page-footer.html %}