---
intro: "
# Welcome to Bauzer

### Your leader in bulk fuel trading

Bauzer uses **modern technology** and **innovative** **methods** to service the **bulk fuel-trading** market. With combined **management** experience of over **70 years** in the industry, we understand the **complexities** and **pitfalls** of the **fuel trading** market and have the **solutions** you need.

**Our main goal is to enable you, our customer, to enjoy a lower fuel spend!**
"
outro: "
### Bauzer – The Quickest Route to the Best Fuel Price

Bauzer is a subsidiary of **Renati Group (Pty) Ltd**. Established in **2006**, the group has given rise to  market leaders like **TruckFuelNet** (on-road refuelling) and **Nito Energy** (wholesale fuel) and today has over **R3&nbsp;billion** in turnover, servicing **650  plus clients** and trading **over 400  million litres** of fuel per annum.
"
---
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bauzer</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body>
    <div class="container">
        {% include nav.html %}
        {% include carousel.html %}
        <!-- iFrame content Gregg -->
        <div class="container">
            <div class="row scll">

                 <div class="col-md-3 pp_logo">BEST PRICE PROJECTION</div>
                <div class="col-md-9 pp_info">{% include price_project.html %}</div>
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="container">
            <div class="row main">
                <article class="col-lg-9">
                    <a href="/deals/" class="pull-right btn btn-secondary">Click to view all deals</a>
                    {{ intro | markdownify }}
                    <section class="cardlinks">
                    <div class="row">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-header orangelgt">
                                Bauzer Platform
                                </div>
                                <div class="card-body greylgt">
                                    Your <strong>real-time, web-based fuel trading</strong> solution for the <strong>purchase</strong> and <strong>sale</strong> of fuel.
                                </div>
                                <div class="card-footer greylgt">
                                    <a class="btn btn-warning btn-sm" href="/platform/">Read more</a>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header orangedrk">
                                Benefits
                                </div>
                                <div class="card-body greydrk">
                                    What the Bauzer platform offers both <strong>buyers </strong>and<strong> sellers</strong> of petroleum products
                                </div>
                                <div class="card-footer greydrk">
                                    <a class="btn btn-warning btn-sm" href="/benefits/">Read more</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-group">
                            <div class="card">
                                <div class="card-header orangedrk">
                                Collection Points</div>
                                <div class="card-body greydrk">All our participating <strong>collection points</strong> around the country.</div>
                                <div class="card-footer greydrk">
                                    <a class="btn btn-warning btn-sm" href="#">Read more</a>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header orangelgt">On-road refuelling</div>
                                <div class="card-body greylgt"><strong>A  REAL-TIME</strong>, all-in-one Fuel Management System  that helps you manage all your <strong>on-road and driver spending</strong>.</div>
                                <div class="card-footer greylgt">
                                    <a class="btn btn-warning btn-sm" href="http://www.tfn.co.za" target="_blank">Visit TruckFuelNet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </section>
                    {{ outro | markdownify }}
                    <p class="clearfix"></p>



                </article>
                <aside class="col-lg-3">
                   {% include aside.html %}
                </aside>
            </div>
        </div>
<div class="container">
{% include footer.html %}
</div>
    </div>
{% include modal.html %}
{% include modal1.html %}

    <script src="/js/jquery_3_3_1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
     <script src="/js/custom.js"></script>

    <!-- Include Netlify Identity for authentication -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
    </script>
</body>
</html>