{% include header.html, title: "Bauzer - Benefits"  %}
        <!-- iFrame content Gregg -->
        <p class="clearfix"></p>
        <div class="container">
            <div class="row main">
                <article class="col-lg-9">
                    <h1>Welcome to Bauzer</h1>

                    <h3>Your leader in bulk fuel trading</h3>

                    <p>Bauzer makes use of the latest IT technology and marketing innovation to service the bulk fuel-trading market. With combined management experience of over 70 years in the petroleum industry, we understand the complexities and practicalities of the fuel trading environment. Our solution enables you to transact in an efficient, secure and transparent manner, mitigating all the pitfalls usually experienced in the bulk fuel trading environment. </p>
					<p><strong>Our core focus is to enable you, our customer, to enjoy the most competitive fuel pricing available in the market at any given time!</strong></p>
                    <section class="cardlinks">
                    <div class="row">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-header orangelgt">
                                Bauzer Platform
                                </div>
                                <div class="card-body greylgt">
                                    Your <strong>real-time, web-based fuel trading</strong> solution for the <strong>purchase</strong> and <strong>sale</strong> of fuel.
                                </div>
                                <div class="card-footer greylgt">
                                    <a class="btn btn-warning btn-sm" href="/platform/">Read more</a>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header orangedrk">
                                Benefits
                                </div>
                                <div class="card-body greydrk">
                                    What the Bauzer platform offers both <strong>buyers </strong>and<strong> sellers</strong> of petroleum products
                                </div>
                                <div class="card-footer greydrk">
                                    <a class="btn btn-warning btn-sm" href="/benefits/">Read more</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-group">
                            <div class="card">
                                <div class="card-header orangedrk">
                                Collection Points</div>
                                <div class="card-body greydrk">All our participating <strong>collection points</strong> around the country.</div>
                                <div class="card-footer greydrk">
                                    <a class="btn btn-warning btn-sm" href="#">Read more</a>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header orangelgt">On-road refuelling</div>
                                <div class="card-body greylgt"><strong>A  REAL-TIME</strong>, all-in-one Fuel Management System  that helps you manage all your <strong>on-road and driver spending</strong>.</div>
                                <div class="card-footer greylgt">
                                    <a class="btn btn-warning btn-sm" href="http://www.tfn.co.za" target="_blank">Visit TruckFuelNet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </section>
                    <h3>Bauzer – The Quickest Route to the Best Fuel Price</h3>

                    <p>Bauzer is a subsidiary of <strong>Renati Group (Pty) Ltd</strong>. Established in <strong>2006</strong>, the group has given rise to  market leaders like <strong>TruckFuelNet</strong> (on-road refuelling) and <strong>Nito Energy</strong> (wholesale fuel). With an annual turnover exceeding <strong>R3&nbsp;billion</strong>, servicing over <strong>750 clients</strong> with <strong>over 400  million litres</strong> of fuel per annum, the Group is well positioned to effectively satisfy all your fuel requirements.</p>

                    <p class="clearfix"></p>

                </article>
                <aside class="col-lg-3">
                   {% include aside.html %}
                </aside>
            </div>
        </div>
<!-- Include Netlify Identity for authentication -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
</script>

{% include page-footer.html %}
