{% include header.html, title: "Bauzer"  %}
        <!-- iFrame content Gregg -->
        <div class="container">
            <div class="row heading h-100  justify-content-center align-items-center">
                BRINGING YOU THE BEST SPOT PRICE ON WHOLESALE FUEL – EVERY DAY
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="container">
            <div class="row main">
                <article class="col-lg-9">
                    <h1>THE QUICKEST ROUTE TO THE BEST FUEL PRICE </h1>
                    <p class="clearfix"></p>
Bauzer is the <strong>first and only </strong>fuel trading platform in South Africa, offering  clients access to the <strong>best</strong><br>
                    <strong>wholesale  fuel SPOT pricing </strong>in the market! With endlessly <strong>fluctuating </strong>oil prices and exchange rates,<br>
                    there is always <strong>discounted  wholesale fuel </strong>on offer from oil majors and independent  importers. That's why<br>
                    Bauzer is 'the quickest  route to the best fuel price'!<br>
                    <br>
                    We use these offers to <strong>find</strong>, <strong>evaluate and negotiate </strong>the <strong>best  price </strong>for you. Our approach of hard <strong>volume</strong><br>
    <strong>negotiation </strong>and <strong>auctioning </strong>of  customer volumes means <strong>our prices </strong>are  always among the <strong>best </strong>at any<br>
                    given time.<br>
                    <br>
                    And we're not <strong>married </strong>to any one specific <strong>oil major </strong>or <strong>supplier</strong>. We  deal with <strong>whoever </strong>offers the best<br>
                    price <strong>on  the day</strong>. That's why we can <strong>confidently </strong>claim  that you get the <strong>best discount </strong>in the  market<br>
                    from Bauzer!<br>
                    <br>
                    We also provide a <strong>full-service  electronic platform </strong>to facilitate the <strong>ordering</strong>, <strong>payment </strong>and <strong>delivery</strong><br>
    <strong>process</strong>. So,  we manage your <strong>financial risk</strong>, <strong>product  price </strong>and <strong>quality </strong>while you can manage  and<br>
    <strong>monitor </strong>your transaction at <strong>all times</strong>.
  <p class="clearfix"></p><section class="platform">


                    <div class="row">
                        <div class="col-md-12">
                            <h2>WANT TO KNOW MORE?</h2>
                            <p>Leave us <strong>your details </strong>and we'll call you back.  Or register here as a new client and <strong>start  saving </strong>immediately!</p>
  <div class="col-md-8">
			<form method="post" id="lead-form" class="form-horizontal" data-netlify="true">
			  <div class=" row form-group">
			  <label for="firstname_id" class="control-label col-md-4">Name:</label>
				<div class="col-md-8">
					<input type="text" class="form-control  input-sm lead" name="firstname" id="firstname_id">
				</div>
        	</div>

       	  <div class="row form-group">
				<label for="compname" class="control-label col-md-4">Company name:</label>
				<div class="col-md-8">
					<input type="text" class="form-control input-sm lead" name="compname" id="compname">
				</div>
        	</div>
       	  <div class="row form-group">
			  <label for="emailadd_id" class="control-label col-md-4">Email address:</label>
				<div class="col-md-8">
					<input type="text" class="form-control  input-sm lead" name="emailadd" id="emailadd_id">
				</div>
        	</div>

       	  <div class="row form-group">
		    <label for="cellno_id" class="control-label col-md-4">Contact number:</label>
				<div class="col-md-8">
					<input type="text" class="form-control  input-sm lead" name="cellno" id="cellno_id">
				</div>
        	</div>

    <p class="clearfix"></p>
        	<div class="form-group">
				<div class="col-md-12">
				<input name="submitbut" type="submit" class="btn btn-secondary pull-right" id="regBut" value="Submit">
			</div>
	</div>
                <p class="clearfix"></p>
		</form>

    </div>
</div>

                    </div>
                    </section>
                    <p class="clearfix"></p>


                </article>
                <aside class="col-lg-3">
                   {% include aside.html %}
                </aside>
            </div>
        </div>
{% include page-footer.html %}