{% include header.html, title: "Bauzer - Platform"  %}
        <!-- iFrame content Gregg -->
        <div class="container">
            <div class="row heading h-100  justify-content-center align-items-center">
                Eliminating the middleman and bringing you the best daily fuel price!
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="container">
            <div class="row main">
                <article class="col-lg-9">
                    <blockquote>
                       In  a deregulated fuel market, <strong>supply and  demand</strong> should determine the <strong>price</strong> you pay. However, oil majors' <strong>monopolised</strong> structures and procedures and an extensive <strong>agent  network</strong> are <strong>inflating</strong> the fuel price.
                    </blockquote>
                    <h1>Your solution – the Bauzer platform!</h1>
                    <p class="clearfix"></p>
                    <p>The Bauzer platform is an <strong>electronic</strong>, <strong>real-time,</strong> <strong>web-based</strong> fuel trading solution. The platform lists the<strong> best available </strong>daily price at the <strong>registered <a href="/collection/">collection points</a></strong>,  so you know the <strong>best fuel price</strong> at  any given time. We also<strong> vet</strong> the  supplier and <strong>quality</strong> of supply. For  your <strong>convenience</strong>, we manage the <strong>entire</strong> <strong>purchase</strong> <strong>transaction</strong> for  you.   </p>
                    <p>Suppliers  in turn can <strong>bid</strong> for your business, for  the best possible <strong>bulk volume discount</strong>.  You get the <strong>best price</strong> and suppliers  can <strong>sell direct</strong> to the market. The <strong>middleman</strong> is removed – meaning <strong>more money</strong> in your pocket!  </p>
                    <p>There is <strong>no charge</strong> to register and <strong>use</strong> the platform – you simply pay the <strong>quoted price</strong>. We can also arrange <strong>transport</strong> and <strong>delivery</strong> of the fuel for you. </p>
                    <p>With the  Bauzer Platform, you can <strong>buy</strong> and <strong>trade</strong> in a <strong>free market</strong> and feel <strong>confident</strong> you are getting the <strong>best possible fuel price</strong>!   </p>
                    <p class="clearfix"></p>



                </article>
                <aside class="col-lg-3">
                   {% include aside.html %}
                </aside>
            </div>
        </div>
<div class="container">
{% include footer.html %}
</div>
    </div>
   {% include modal.html %}
{% include modal1.html %}
    <script src="/js/jquery_3_3_1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
     <script src="/js/custom.js"></script>
</body>
</html>