{% include header.html, title: "Bauzer - Platform"  %}
        <!-- iFrame content Gregg -->
        <div class="container">
            <div class="row heading h-100  justify-content-center align-items-center">
                ALLOWING YOU DIRECT ACCESS TO THE MOST COMPETITIVE FUEL SUPPLY - DAILY!
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="container">
            <div class="row main">
                <article class="col-lg-9">
                    <blockquote>
                       In a dynamic fuel market, the supply of fuel and the demand for that available fuel should determine the price you pay. Unfortunately, the current structure of the local fuel market, with it’s history of government intervention and multinational involvement, has resulted in a few major players monopolising the inbound supply, distribution infrastructure and marketing environment. Added to this has been the rapid expansion of fuel brokers and agent networks in the market, which have added complexity, inefficiency and costs to the supply chain – the end result being inflated prices to the end user.
                    </blockquote>
                    <h1>Your solution – the Bauzer platform!</h1>
                    <p class="clearfix"></p>
                    <p>The Bauzer trading platform is an electronic, open access, real-time, web-based fuel trading solution which allows buyers direct access to suppliers. The solution provides a listing of the best available daily price on petroleum product at the various registered <a href="/collection/">supply gantries</a> across the country at any given time.  All listed fuel suppliers are vetted to ensure consistent volume availability and quality of product.</p>
                    <p>There is no charge to register and use the platform. Access to the system is attained through your individual account dashboard, allowing you to view what deals are available and to manage your transactions and account on a real-time basis. Bauzer will ensure that all transactions are processed within ruling petroleum industry standards. This ensures that your funds are secure and you have full visibility of the progress on your fuel order as it moves through each step of the fulfilment process. Should you require the fuel to be delivered to you, instead of uplifting it yourself, we will arrange transport and delivery of the fuel to your designated delivery point. </p>
                    <p>With the Bauzer Trading Platform, you can buy and trade in a transparent, secure, free market environment and feel confident you are paying the best possible fuel price! </p>
                    <p>Should you elect to commit your available volumes to be auctioned, we can facilitate that all vetted suppliers have the opportunity to bid for your business, further improving your opportunity to access the most competitive market prices. </p>
                    <p class="clearfix"></p>



                </article>
                <aside class="col-lg-3">
                   {% include aside.html %}
                </aside>
            </div>
        </div>
{% include page-footer.html %}