<div class="asdcon">
    <div class="vid">
        <a class="myButtonLink" href="#"  data-toggle="modal" data-target="#myModal">Overview Video</a>
    </div>

    <div class="vid">
        <a class="myButtonLink" href="#"  data-toggle="modal" data-target="#myModal1">Placing an order</a>
    </div>
    <div class="grybox2">
       <iframe src="https://app.bauzer.co.za/ui/public/volumeToDate.htm" width="100%" scrolling="no" frameborder="0" id="if_traded"></iframe>
    </div>
    <div class="grybox">
        Projected diesel price change:<br>
        50ppm <span class="chng">1.25c</span> per litre<br>
500ppm <span class="chng">1.23c</span> per litre
    </div>
    <div class="gryboxlog">
        Existing client?<br>
        <a class="btn btn-warning btnreg" href="https://app.bauzer.co.za" target="_blank">LOG IN</a>
        <span class="info">You have to be registered to log in.</span>
        <hr />
        New client?<br>
        <a class="btn btn-warning btnreg" href="https://app.bauzer.co.za/UI/Client/#/BuyerRegistration" target="_blank">REGISTER HERE</a>
        <hr />
        Stay up to date with current best prices via email<br>
        <a class="btn btn-warning btnreg" href="/interested/">REGISTER HERE</a>
        <hr />
    </div>

</div>