<div class="row footera h-100  justify-content-center align-items-center">
    <div class="col-md-4 logo">
        <a href="https://www.tfn.co.za/" target="blank">
            <img src="/images/tfn_logo.png" class="img-fluid" alt="TruckFuelNet"/>
        </a>
    </div>
    <div class="col-md-4 logo">
        <a href="https://www.renati.co.za/" target="blank">
            <img src="/images/renati_logo.png" class="img-fluid" alt="Renati Group"/>
        </a>    
    </div>
    <div class="col-md-4 logo">
        <a href="https://www.nito.co.za/" target="blank">
            <img src="/images/nito_logo.png" class="img-fluid" alt="Nito Energy"/>
        </a>
    </div>
</div>
 <div class="row footerb h-100 justify-content-center align-items-center">
     <div class="icon1"><a href="https://goo.gl/maps/Kd392vgs7hT2" target="_blank"><i class="fa fa-map-marker fa-2x"></i></a></div>
     <div class="icon1"><a href="mailto:orders@renati.co.za"><i class="fa fa-envelope fa-2x"></i></a></div>
    <div class="icon1"><a href="tel:+27100130542"><i class="fa fa-phone fa-2x"></i></a></div>
</div>
