<!-- The Modal -->
<div class="modal" id="myModal1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>

      <div class="modal-body">
         <video controls width="100%">
          <source src="/video/Bauzer_HowTo_Final_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
      </div>

    </div>
  </div>
</div>